* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 16pxì˜ 62.5% => 10px => 1rem;
}

body {
    // font-family: 'Lato', sans-serif;
    font-family: 'Nanum-Gothic', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}