html ,body {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}


.container{
    padding-top: 20px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    height: 800px;
    background-color: #f3f3f3;
}

.container .form-wrapeer {
    width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 8px;

    border: 1px solid burlywood;
    box-sizing: border-box;
    overflow: hidden;
}

.container .form-wrapeer .price-form {
    position: relative;
    width: 55%;
    height: 48px;
    border-right: 1px solid burlywood;
    background-color:#fff;
}


.container .price-form  input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 52px;

    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
}

.container .price-form  .unit {
    position: absolute;
    top: 51.5%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 16px;
}

/* --------------------------- */


.container .form-wrapeer .buscnt-form {
    position: relative;
    width: 45%;    
    height: 48px;
}


.container .buscnt-form  input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 50px;
    padding-right: 66px;
    text-align: center;
}


.container .buscnt-form img {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
}

.container .buscnt-form img.minus {
    left: 8px;
}


.container .buscnt-form img.plus {
    right: 8px;
}

.container .buscnt-form .unit {
    position: absolute;
    top: 51.5%;
    transform: translateY(-50%);
    right: 72px;
    font-size: 16px;
}

@media all and (max-width: 364px) {
    .container .buscnt-form  input {       
        padding-left: 28px;
        padding-right: 40px;

    }

    .container .buscnt-form .unit {
        right: 32px;
    } 
}

@media (min-width: 365px) and (max-width: 768px) {
    .container .buscnt-form  input {       
        padding-left: 36px;
        padding-right: 46px;

    }

    .container .buscnt-form .unit {
        right: 40px;
    }   
}