@charset "UTF-8";
.post .container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 30px 10px;
}

.post .container h1 {
  padding-left: 0.5rem;
  border-left: 0.75rem solid #bf6a7a;
  font-size: 2rem;
}

.post .container p {
  font-size: 1rem;
  line-height: 2;
}

/* 모바일 */

@media (max-width: 767px) {
  .post .container {
    padding: 30px 20px;
  }
}

.history {
  background-color: #5d9ab2;
}

.history .photo {
  min-height: 300px;
  background-image: url('../img/plant.jpg');
  background-position: center;
  background-size: cover;
}

.history .text {
  padding: 20px;
  color: #fff;
}

.history .text h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .history .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .history .photo {
    width: 100%;
    max-width: 450px;
    min-height: 400px;
    vertical-align: top;
    display: inline-block;
  }

  .history .text {
    padding: 50px;
    vertical-align: top;
    display: inline-block;
  }
}

.history table {
  border-collapse: collapse;
  border-top: 1px solid #ddd;
  font-size: 0.875rem;
}

.history th, .history td {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.history th {
  padding-right: 1rem;
  text-align: left;
  word-break: keep-all;
}

