@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: "Roboto", "Sans Serif";
  font-size: 18pt;
  color: #fff;
  background: #3498db;
  width: 100%;
  height: 100%;
}

.wrapper{
  padding: 100px 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{
  width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
}

label{
  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #fff;
  border-bottom: none;
}

label:hover{
  background: #26C281;
}

label.last{
  border-bottom: 1px solid #fff;
}

ul ul li{
  padding: 10px;
  background: #59ABE3;
}


input[type="radio"]{
  position: absolute;
  left: 0px;
}

input[type="radio"] ~ ul{
  height: 0;
  transform: scaleY(0);
}

input[type="radio"]:checked ~ ul{
  height: 100%;
  transform-origin: top;
  transition: transform .2s ease-out;
  transform: scaleY(1);
  -webkit-transition: transform .2s ease-out;
  -moz-transition: transform .2s ease-out;
  -ms-transition: transform .2s ease-out;
  -o-transition: transform .2s ease-out;
}

input[type="radio"]:checked + label{
  background: #26C281;
  border-bottom: 1px solid #fff;
}
