html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  width: 100%;
  background-color: #555;
  z-index: 100;
}

header .container {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

header .home-btn {
  box-sizing: border-box;
}

header .home-btn a {
  color: #fed136;
  font-size: 1rem;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

header .mobile-menu {
  float: right;
  display: inline-block;
  color: #fff;
  font-size: 1rem;
}

header .mobile-menu span {
  padding: 10px 20px;
  background-color: #fed136;
  border-radius: 0.25rem;
}

header .nav-list {
  display: none;
  padding: 10px 0px;
}

header .nav-list ul {
  margin: 0;
}

header .nav-list li {
  color: #fff;
  padding: 0 20px;
}

@media (min-width: 1024px) {
  header .home-btn {
    display: inline-block;
    width: 30%;
  }
  header .home-btn a {
    font-size: 1.75em;
  }
  header .mobile-menu {
    display: none;
  }

  header .nav-list {
    display: inline-block;
    box-sizing: border-box;
    float: right;
  }

  header .nav-list ul {
    margin: 0;
    text-align: right;
  }
  header .nav-list li {
    display: inline-block;
  }
}

.hero-img {
  width: 100%;
  height: 80%;
  background: url("images/cover.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-img .container {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-img .hero-title {
  font-size: 1.5rem;
  color: #fff;
  padding-bottom: 20px;
  font-weight: bold;
}

.hero-img .hero-content {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  padding-bottom: 50px;
}

.hero-img .hero-btn {
  background-color: #fed136;
  border-color: #fed136;
  font-size: 20px;
  font-weight: bold;
  padding: 20px 40px;
  color: #fff;
  border-radius: 0.25rem;
}

@media (min-width: 1024px) {
  .hero-img {
    width: 100%;
    height: 100%;
  }
  .hero-img .hero-title {
    font-size: 40px;
  }
  .hero-img .hero-content {
    font-size: 70px;
  }
}

.services .container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.services .services-text {
  padding: 30px 0;
}

.services .services-text h1 {
  font-size: 50px;
  margin: 0;
}

.services .services-text p {
  font-size: 20px;
  font-style: italic;
  margin: 0;
}

.services .services-contents div {
  margin-top: 40px
}

.services .services-contents h4 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.services .services-contents p {
  color: #6c757d !important;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: bold;
  padding: 0 15px;
}

.services .services-contents img {
  width: 50%;
  max-width: 150px;
}

.portfolio {
  background-color: #f8f9fa !important;
  padding: 10px 0;
}

.portfolio .container {
  margin: 20px auto;
  text-align: center;
}

.portfolio .pt-item-wrap {
  margin: 10px;
  border: 1px solid #ddd;
}

.portfolio img {
  width: 100%;
}

.portfolio .title h1 {
  font-size: 40px;
  margin: 0;
  padding-top: 20px;
}

.portfolio .title p {
  font-size: 20px;
  margin: 0;
  padding-bottom: 20px;
}

.portfolio .text {
  padding: 0 20px;
  ;
}

.portfolio .text h2 {
  margin-bottom: 5px;
}

.portfolio .text p {
  margin-top: 0;
  font-style: italic;
  font-size: 1rem;
  font-weight: bold;
  color: #6c757d !important;
}

@media(min-width: 600px) and (max-width: 1023px) {
  .portfolio article {
    display: inline-block;
    width: 40%;
  }
  .services-contents div {
    display: block;
  }
}

@media (min-width: 1024px) {
  .portfolio .title h1 {
    font-size: 50px;
  }
  .services .container {
    width: 80%;
  }
  .services-contents div {
    display: inline-block;
    width: 33%;
  }
  .portfolio .container {
    width: 80%;
  }
  .portfolio article {
    display: inline-block;
    width: 32%;
  }
}

.about {
  width: 100%;
  padding: 100px 0;
}

.about .container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.about .title h1 {
  margin: 0;
  font-size: 50px;
}

.about .timeline {
  position: relative;
  margin-top: 50px;
  margin-left: 20px;
}

.about .timeline li {
  padding-bottom: 10px;
}

.about ul:before {
  position: absolute;
  content: " ";
  width: 2px;
  top: 0;
  bottom: 0;
  left: 38px;
  border-left: 3px solid #6c757d;
}

.about .timeline-image {
  display: inline-block;
  position: absolute;
  left: 0px;
}

.about .timeline-image img {
  width: 70px;
  height: 70px;
  border: 5px solid #6c757d;
  border-radius: 100%;
}

.about .timeline-panel {
  width: 70%;
  text-align: left;
  padding-top: 10px;
  padding-left: 60px;
}

.about .timeline-heading h4 {
  margin: 0;
  padding: 3px 0;
}

.about .timeline-body {
  line-height: 1.5;
}

@media(min-width: 1024px) {
  .about .container {
    width: 80%;
  }

  .about .title h1 {
    font-size: 40px;
  }
  
  .about ul:before {
    left: 50%;
  }
  .about .timeline {
    margin-left: 0px;
  }
  .about .timeline li {
    padding-bottom: 120px;
    min-height: 150px;
  }
  .about .timeline-image {
    margin-left: -70px;
    left: 50%;
  }
  .about .timeline-image img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
  }
  .about .timeline-panel {
    position: relative;
    width: 35%;
    left: -50px;
  }
  .timeline li:nth-child(2n-1) .timeline-panel {
    float: left;
    text-align: right;
  }
  .timeline li:nth-child(2n) .timeline-panel {
    float: right;
    text-align: left;
  }
  .about .timeline li:last-child {
    padding-bottom: 0px;
    min-height: 140px;
  }
}