#target {
  width: 100px;
  height: 100px;
  background-color: #ffc;
  border: 2px solid blue;
  position: absolute;
}

#target01{
  width: 100px;
  height: 100px;
  background-color: #ffc;
  border: 2px solid blue;
  position: absolute;
}

.active {
  z-index: 200;
}

.complete {
  z-index: 100;
}

#complete {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 500px;
  top: 300px;
  border : 3px solid black;
  box-sizing: border-box;
  z-index: 1;
}