

body{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#author, #author a{
  font-size:100%;
  text-transform: none;
  color:#fff;
  font-weight:300;
  text-decoration: none;
}


#menu {
  cursor: pointer;
  padding: 22px 35px 16px 0px;
}


#side-menu{
	display: block;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 0;
	z-index: 110;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
	transition: 0.5s ease-in-out;
}

.test {
	width: 100%;
	background-color: gray;
	max-width: 600px;
	margin: 0 auto;
}

#side-menu.active{
	/* transform: translate(0px,80%); */
	height: 90%;
	overflow-y: scroll;
	transition: 0.5s ease-in-out;
}

#overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 105;
	display: none;
	transition: 0.5 ease-in-out;
}

#overlay.active{
	display: block;
	transition: 0.5 ease-in-out;
}